body {
  background-image: url("https://papers.co/wallpaper/papers.co-bd94-minimal-space-art-illustration-29-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

form {
  display: inline;
}
footer {
  font-size: 15px;
  margin: 10px auto 0;
  max-width: 800px;
}
button#metric,
button#imperial {
  margin: 0 10px 10px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  position: relative;
  top: -30px;
}
.active {
  color: rgb(66, 27, 45);
  cursor: default;
}
.active:hover {
  color: rgb(66, 27, 45);
  cursor: default;
  text-decoration: none;
}

.col.max-min {
  text-align: center;
  font-size: 16px;

  margin: auto 30px;
}

.col.day {
  text-align: center;
}
.fa-map-marked-alt {
  color: rgb(66, 27, 45);
  font-size: 20px;
}

.weather-forecast h3 {
  color: rgb(66, 27, 45);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.weather-forecast-temp {
  text-align: center;
  font-size: 15px;
  color: rgb(66, 27, 45);

  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

#forecast {
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 0 65px;
}
#app {
  margin: 30px auto 0;
  padding: 30px;
  width: 800px;
  border-radius: 20px;
  color: rgb(66, 27, 45);
  font-family: "Maven Pro", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
}

#open-source {
  margin: 40px 50px;
  font-size: 13px;
}
input#submit {
  width: 150px;
  height: 38px;
  font-size: 11px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #dad2cf;
}
input#text {
  height: 38px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
}

#current-button {
  width: 100px;
  height: 38px;
  font-size: 11px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #dad2cf;
  margin-left: 20px;
  float: left;
}
#current-location {
  font-size: 27px;
  text-align: center;
}
#units {
  font-size: 19px;
  font-weight: bold;
  position: relative;
  top: -28px;
}
#max-min {
  max-width: 250px;
}

#temperature {
  font-size: 60px;
  text-align: center;
}
#description {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  position: relative;
  left: -20px;
}
#description::first-letter {
  text-transform: uppercase;
}
#search-form {
  display: block;
  margin: 20px 80px;
}
#current-time {
  font-size: 27px;
  margin-top: 20px;
  position: relative;
  top: 10px;
}
#main-icon {
  margin-left: 43px;
  position: relative;
  top: 20px;
}
#parameters {
  font-size: 13px;
  margin-top: 15px;
  position: relative;
  bottom: -20px;
}

#details {
  position: relative;
  left: 80px;
  top: 10px;
}
