body {
  background-image: url("https://papers.co/wallpaper/papers.co-bd94-minimal-space-art-illustration-29-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: inline;
}
footer {
  text-align: center;
  font-size: 15px;
  margin-top: 0;
}
button#metric,
button#imperial {
  margin: 0 10px 10px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  position: relative;
  top: -30px;
}

input#submit {
  width: 150px;
  height: 38px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #dad2cf;
  display: inline;
  margin-top: 5px;
  position: relative;
  top: -1px;
}
input#text {
  width: 250px;
  height: 38px;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 15px;
}

.col.max-min {
  text-align: center;
  font-size: 17px;
  position: relative;
  top: -10px;
}

.col.day {
  text-align: center;
}

.fa-cloud-showers-heavy {
  color: rgb(150, 148, 148);
  font-size: 45px;
}

.fa-cloud {
  color: rgb(173, 173, 173);
  margin-bottom: 30px;
  font-size: 45px;
}
.fa-sun {
  color: rgb(255, 233, 30);
  font-size: 45px;
  color: rgb(255, 233, 30);
}
.fas {
  margin: 20px auto;
  text-align: center;
}
.forecast {
  margin-top: 25px;
  padding: 0 40px;
}
#app {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 70%;
  border-radius: 20px;
  color: rgb(66, 27, 45);
  font-family: "Maven Pro", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
}
#search-bar {
  padding: 0 100px;
  margin-bottom: 20px;
}

#open-source {
  margin: 40px 50px;
  font-size: 13px;
}
#current-button {
  width: 85px;
  height: 38px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #dad2cf;
  display: inline;
  margin-top: 5px;
  position: relative;
  top: -1px;
}

#current-location {
  font-size: 27px;
  text-align: center;
}

#temperature {
  font-size: 48px;
  text-align: center;
}

#current-time {
  font-size: 27px;
  margin-top: 15px;
}
#big-sun {
  color: rgb(255, 233, 30);
  font-size: 85px;
  margin-left: 40px;
  position: relative;
  top: 40px;
}
#parameters {
  font-size: 13px;
  margin-top: 15px;
}

#details {
  position: relative;
  left: 80px;
  top: 20px;
}
